@font-face{
	font-family: 'DndFont';
	src: url("font/modesto-condensed-bold.ttf");	
}

html {
	height: 100%;
}

body{
	background: linear-gradient(to bottom, #36454F, black);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: DndFont;
	color: white;
	font-size: 20px;
}

nav{
	background: linear-gradient(.25turn, rgb(84, 14, 9), maroon);
	text-align: center;
}

label{
	width: 150px;
	display: inline-block;
}

input{
	font-family: "Courier New", "Times New Roman", Times, serif;
	margin-bottom: 10px;
	width: 400px;
}

.error{
	color:red;
}

.success{
	color:green;
}

.delete{
	vertical-align: center;
	text-align: center;
	background-color: red;
	color: white;
	text-decoration: none;
}

.footer{
	text-align: center;
}
